localbin/.local/bin/pypeek-gui
localbin/.local/bin/pypeek
.DS_Store
**/.DS_Store
jj/.config/jj/repos/
herdr/.config/herdr/*.log
herdr/.config/herdr/*.sock
herdr/.config/herdr/*.json
herdr/.config/herdr/.plugins.lock
herdr/.config/herdr/session.json
